.search-results {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;

  .search-operations {
    margin: 10px;
    font-size: 2rem;
    text-align: center;

    &__btn {
      &--duration {
        background-color: #f38e82;
        border-radius: 10px;
        color: white;
        padding: 8px;
      }
      &--ingredients {
        background-color: #f38e82;
        border-radius: 10px;
        color: white;
        padding: 8px;
      }
    }
  }
}

.results {
  list-style: none;
  margin-bottom: 2rem;
}

.pagination {
  margin-top: auto;
  padding: 0 3.5rem;
  text-align: center;

  &::after {
    content: '';
    display: table;
    clear: both;
  }

  &__btn {
    &--prev {
      float: left;
    }
    &--next {
      float: right;
    }
  }

  &__pages {
    font-size: 1.5rem;
    font-weight: 600;
    background-image: $gradient;
    border-radius: 10rem;
    border: none;
    // text-transform: uppercase;
    color: #fff;
    align-items: center;
    display: inline-block;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.copyright {
  color: $color-grey-dark-2;
  font-size: 1.2rem;
  padding: 0 3.5rem;
  margin-top: 4rem;

  .twitter-link:link,
  .twitter-link:visited {
    color: $color-grey-dark-2;
  }
}
